
input {
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid rgb(223, 146, 146);
    box-shadow: 2px 3px 4px 2px rgb(223, 146, 146);
    padding: 5px;
  }
  label {
    margin-right: 12px;
    width: 87px;
  }
  :focus {
    background-color: lightblue;
  }
#placecd{
    background-color: orangered;
    
    padding: 30px;
}
.flex {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
  }
.searchcd{
    height: 550px;
    width: 350px;
    text-align: center;
    margin: 15px;
    background-color :white;
    padding :15px;
   
    border-radius: 12px;
    box-shadow: 2px 4px 12px 4px gold;
    
}

.searchcd:hover{
    height: 610px;
    box-shadow: 2px 2px 12px 4px blue ;
    margin-top: -2px;
    background-color: gold;
}
.homebtn{
    padding: 12px;
}
::-webkit-scrollbar{
    display: none;
}
button{
    margin: 12px;
    padding: 7px;
    border: 2px;
    color: orangered;
    font-weight: 600;
    border-radius: 12px;
}

#suggestionbox {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 12px;
    width: 190px;
    opacity: 0.8;
    border-radius: 12px;
    height: 200px;
  
    overflow: hidden;
    overflow-y: scroll;
  }
  
.list {
    position: relative;
  
    z-index: 1;
    padding: 2px;
    font-weight: 600;
  
    background-color: gainsboro;
  }


  .desdiv{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    overflow-y: scroll;
    background-color: lightpink;
    box-shadow: 2px 3px 12px ;
  }

  .photo{
    height :250px;
    width :310px;
    box-shadow: 2px 3px 12px 2px;
  }
/* 
  .shake {

    animation: shake 0.5s ease-in-out infinite;
  
  }
  
  
  
  @keyframes shake {
  
    0% { transform: translateX(0); }
  
    25% { transform: translateX(5px); }
  
    50% { transform: translateX(-5px); }
  
    75% { transform: translateX(5px); }
  
    100% { transform: translateX(0); }
  
  } */
  .shake-phone {

  animation: shake 0.5s ease-in-out infinite;

}



@keyframes shake {

  0% { transform: translateX(0); }

  25% { transform: translateX(5px); }

  50% { transform: translateX(-5px); }

  75% { transform: translateX(2.5px); }

  100% { transform: translateX(0); }

}
