.cd {
  border: 2px solid black;
  width: 400px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.cd h1 {
  color: red;
}
.cd p {
  color: blue;
}
input {
  margin-top: 20px;
  border-radius: 7px;
  border: 2px solid rgb(223, 146, 146);
  box-shadow: 2px 3px 4px 2px rgb(223, 146, 146);
  padding: 5px;
}
label {
  margin-right: 12px;
  width: 87px;
}
:focus {
  background-color: lightblue;
}
#signup {
  width: 75%;
  color: white;
  background-color: green;
}
#guestuser {
  width: 75%;
  margin-top: 30px;
  border-radius: 7px;
  border: 2px solid rgb(223, 146, 146);
  box-shadow: 2px 3px 4px 2px rgb(223, 146, 146);
  padding: 5px;
  background-color: blueviolet;
  color: white;
}
#suggestionbox {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 12px;
  width: 190px;
  opacity: 0.8;
  border-radius: 12px;
  height: 200px;

  overflow: hidden;
  overflow-y: scroll;
}
#searchresults {
}
.flex {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.list {
  position: relative;

  z-index: 1;
  padding: 2px;
  font-weight: 600;

  background-color: gainsboro;
}
#placecd{
    background-color: orangered;
    
}
.searchcd{
    height: 500px;
    width: 350px;
    text-align: center;
    margin: 15px;
    background-color :white;
    padding :25px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 12px;
    box-shadow: 2px 4px 12px 4px gold;
    
}
.homebtn{
    padding: 12px;
}
button{
    background-color: orangered;
    border-radius: 12px;

    border: 2px solid orangered;
    padding: 4px;
}
::-webkit-scrollbar{
    display: none;
}